@model WebKH2024.Models.Review

@{
    ViewBag.Title = "ThemMoi";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h4>Thêm Mới Review</h4>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()  
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <select class="form-control" name="NhaCungCapID">
                <option value="">Chọn Nhà Cung Cấp</option>
                @foreach (var item in new WebKH2024.Models.mapReview().DanhSach())
                {
                    <option value="@item.SanPhamID" @(Model.SanPhamID == item.SanPhamID ? "selected" : "")>@item.SanPham.TenSanPham</option>
                }
            </select>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TaiKhoanID, "TaiKhoanID", htmlAttributes: new { @class = "control-label col-md-2" })
            <select class="form-control" name="NhaCungCapID">
                <option value="">Chọn Nhà Cung Cấp</option>
                @foreach (var item in new WebKH2024.Models.mapReview().DanhSach())
                {
                    <option value="@item.TaiKhoanID" @(Model.TaiKhoanID == item.TaiKhoanID ? "selected" : "")>@item.TaiKhoan.Username</option>
                }
            </select>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ReviewDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReviewDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReviewDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
