
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var db = new WebKH2024.Models.ShopQuanAoEntities();
    var data = db.GetDoanhThuTheoSanPham().ToList();
    var doanhthu = db.GetDoanhThu().ToList();
    var totalDoanhThu = doanhthu.Sum(x => x.TongDoanhSo);
    var Month = DateTime.Now.Month;
    var Year = DateTime.Now.Year;
    var doanhThuThangHienTai = doanhthu.Where(x => x.Thang == Month && x.Nam == Year).Sum(x => x.TongDoanhSo);
    doanhThuThangHienTai = doanhThuThangHienTai == 0 ? 0 : doanhThuThangHienTai;
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Báo Cáo Số Liệu Thống Kê</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
        </a>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Tổng Doanh Thu
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    @string.Format("{0:#,0}", totalDoanhThu) VND
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Doanh thu Tháng: @Month / @Year
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"> @string.Format("{0:#,0}", doanhThuThangHienTai) VND</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Đơn Hàng Đã Hoàn Thành
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.ordersuccess</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Đơn Hàng Chưa Xử Lý
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.orderpaid</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <canvas id="doanhThuChart" style="width:100%; max-width:600px"></canvas>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                    var Nam = [];
                    var Thang = [];
                    var TongDoanhThu_Bar = [];
                    @foreach (var item in doanhthu)
                    {
                        @:Nam.push(@item.Nam);
                        @:Thang.push(@item.Thang);
                        @:TongDoanhThu_Bar.push(@item.TongDoanhSo);
                    }
                    // Lấy danh sách tháng và tổng doanh thu
                        const labels = Thang.map((thang, index) => `Tháng ${thang}/${Nam[index]}`);
                    // Tạo bar chart
                    const ctx2 = document.getElementById('doanhThuChart').getContext('2d');
                    const doanhThuChart = new Chart(ctx2, {
                        type: 'bar',
                        data: {
                            labels: labels, // Tháng/Năm
                            datasets: [{
                                label: 'Tổng Doanh Thu Theo Tháng',
                                data: TongDoanhThu_Bar,
                                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                borderColor: 'rgba(54, 162, 235, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    ticks: {
                                        callback: function (value) {
                                            return value.toLocaleString('vi-VN');
                                        }
                                    }
                                }
                            }
                        }
                    });
                });
                </script>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <canvas id="myPieChart" width="400" height="400"></canvas>
                <script>
                 document.addEventListener('DOMContentLoaded', function () {
                    var ctx = document.getElementById('myPieChart').getContext('2d');
                    var TenSanPham = [];
                    var TongDoanhThu = [];
                 @foreach(var item in data)
                    {
                    @:TenSanPham.push(@Html.Raw(Json.Encode(item.TenSanPham)));
                    @:TongDoanhThu.push(@item.TongDoanhThu);
                    }
                    var myPieChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                    labels: TenSanPham,
                    datasets: [{
                        label: 'Doanh Thu Theo Sản Phẩm',
                        data: TongDoanhThu,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        tooltip: {
                            callbacks: {
                                label: function (tooltipItem) {
                                    var label = tooltipItem.label || '';
                                    if (tooltipItem.raw !== undefined) {
                                        var formattedValue = new Intl.NumberFormat('vi-VN', {
                                            style: 'currency',
                                            currency: 'VND'
                                        }).format(tooltipItem.raw);
                                        label += ': ' + formattedValue;
                                    }
                                    return label;
                                }
                            }
                        }
                    }
                }
            });
        });
                </script>
            </div>
        </div>
    </div>
</div>